@model IEnumerable<PIN_WOWRaids.Models.RaidDays>

@{
    ViewData["Title"] = "Raids";
}

<link href="@Url.Content("~/css/main.css")" rel="stylesheet" type="text/css" />
<h2>Index</h2>

<p>
    <a asp-action="Create" class="txt_color">Create New</a>
</p>
<body  class="table col-xs-12 col-sm-6 col-md-3 col-lg-3">
    <div class="container table_border">
        <table class="table" style="background-color: gray;">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.RaidName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RaidDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PeopleAttended)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RaidName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RaidDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PeopleAttended)
                        </td>
                        <td class="admin_func">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="txt_color">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id" class="txt_color">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id" class="txt_color">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>