@model IEnumerable<PIN_WOWRaids.Models.Member>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NickName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumAttended)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MainSpec)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MainRole)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OffSpec)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OffRole)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NickName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumAttended)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainSpec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainRole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OffSpec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OffRole)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
